@{
    ViewBag.Title = "Index";
}

<h5>Click to "Input Page" then select the "Create Menu List"</h5>
<h5>.......</h5>
<h5>Developed By</h5>
<h5>Sudipta Majumder </h5>
<h5>My website Link : http://sudipta-majumder.branded.me/ </h5>
<h5>My Linkedin Profile: https://bd.linkedin.com/pub/sudipta-majumder/31/2b5/588  </h5>

